<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <context:property-placeholder ignore-resource-not-found="true" location="classpath:blacktiger.properties,file:${user.home}/blacktiger.properties" />
    
    <http request-matcher-ref="jsonMatcher" disable-url-rewriting="true" entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/rooms/**" access="ROLE_USER" />
        <intercept-url pattern="/system/**" access="ROLE_USER" />
        <intercept-url pattern="/phonebook/**" access="ROLE_USER" />
        <intercept-url pattern="/reports/**" access="ROLE_USER" />
        <http-basic entry-point-ref="restAuthenticationEntryPoint"/>
    </http>
    
    <http disable-url-rewriting="true">
        <intercept-url pattern="/static/wstest.html" access="ROLE_USER" />
        <http-basic/>
    </http>

    
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="${admin.user}" password="${admin.password}" authorities="ROLE_USER, ROLE_ADMIN" />
              </user-service>
        </authentication-provider>
        <authentication-provider ref="authProvider" />

    </authentication-manager>

    <beans:bean id="authProvider" class="dk.drb.blacktiger.security.StoredProcedureAuthenticationProvider">
        <beans:property name="encryptionKey" value="${encryptionKey}"/>
        <beans:property name="dataSource" ref="asteriskDatasource"/>
        
    </beans:bean>
    
    <beans:bean id="restAuthenticationEntryPoint" class="dk.drb.blacktiger.security.RestAuthenticationEntryPoint"/>

    <beans:bean id="jsonMatcher" class="org.springframework.security.web.util.ELRequestMatcher">
        <beans:constructor-arg value="hasHeader('Accept','application/json')"/>
    </beans:bean> 
    
    <global-method-security secured-annotations="enabled" />

</beans:beans>
