<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    
    <http disable-url-rewriting="true">
        <intercept-url pattern="/socket/info" access="ROLE_ANONYMOUS,ROLE_USER" />
        <intercept-url pattern="/socket/**" access="ROLE_USER" />
        <http-basic/>
    </http>

    
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="admin" password="123" authorities="ROLE_USER, ROLE_ADMIN" />
              </user-service>
        </authentication-provider>
        <authentication-provider ref="authProvider" />

    </authentication-manager>

    <beans:bean id="authProvider" class="dk.drb.blacktiger.security.StoredProcedureAuthenticationProvider">
        <beans:property name="encryptionKey" value="enckey"/>
        <beans:property name="dataSource" ref="asteriskDatasource"/>
        
    </beans:bean>

    <global-method-security secured-annotations="enabled" />

</beans:beans>
