<div class="span10 offset1">
    <div ng-show="false" id="error-dialog" class="alert alert-error">Error requesting page /v2/rooms/90011/changes?1382362608940</div>

    <div class="alert alert-info" ng-show="participants.length==0">
        Der er i øjeblikket hverken transmission til, eller deltagere i, telefonmødet.
    </div>
    
    <div class="alert alert-error" ng-show="(participants|filter:{host:true}).length==0 && (participants|filter:{host:false}).length>0">
        <b>Der sendes ikke lyd til lytterne!</b>
        <ol>
            <li>For at transmittere lyd, ring op til nummer <b>{0}</b> med X-Lite; ring ikke til det 8-cifrede nummer, det er kun til brug for lytterne!</li>
            <li>Er mødet slut, tryk <i class="icon-remove"></i> ud for hver lytter, så de ikke betaler un\ødigt!</li>
            <li>Hvis X-Lite ikke vil ringe op, såtryk Exit i X-Lite og start den igen.</li>
        </ol>
    </div>

    <h3>Rigssal</h3>
    <div id="host-table-wrapper">

        <table class="table table-striped table-hover participantsTable">
            <tbody>
                <tr ng-show="(participants|filter:{host:true}).length==0">
                    <td>
                        Der er i øjeblikket transmission til møderummet
                    </td>
                </tr>
                <tr ng-repeat="participant in participants | filter:{host:true}">
                    <td class="span2 participantNumber">{{participant.phoneNumber}}</td>
                    <td class="participantName">{{participant.name}}</td>
                    <td class="span3 participantOptions">
                        <button class="btn btn-danger btn-small" ng-click="kickParticipant(participant.userId)" title="Afslut transmission"><i class="icon-off icon-white"></i></button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
    <h3>Lyttere</h3>
    <div id="participant-table-wrapper">
        <table class="table table-striped table-hover participantsTable">
            <tbody>
                <tr ng-show="(participants|filter:{host:false}).length==0">
                    <td>
                        Der er i øjeblikket ingen lyttere
                    </td>
                </tr>
                <tr ng-repeat="participant in participants | filter:{host:false}">
                    <td class="span2 participantNumber" data-type="participant-number" data-id="{{participant.userId}}" data-number="{{participant.phoneNumber}}">{{participant.phoneNumber}}</td>
                    <td class="participantName">{{participant.name}}<span ng-hide="participant.muted" class="label label-warning">Mikrofon tændt</span></td>
                    <td class="span3 participantOptions">
                        <div class="btn-group">
                            <button ng-click="changeName(participant.userId)" class="btn btn-small" title="Editér navn"><i class="icon-pencil"></i></button>
                            
                            <button ng-click="muteParticipant(participant.userId, false)" ng-show="participant.muted" class="btn btn-small" title="Tænd mikrofon"><i class="icon-comment"></i></button>
                            <button ng-click="muteParticipant(participant.userId, true)" ng-hide="participant.muted" class="btn btn-small btn-warning" title="Sluk mikrofon"><i class="icon-volume-off"></i></button>
                            <button ng-click="kickParticipant(participant.userId)" class="btn btn-small" title="Kick lytter"><i class="icon-remove"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>