<!DOCTYPE html>
<html lang="da">
    <head>
        <title>TeleSal</title>
        <meta name="robots" content="none" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />
        <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="../css/Basic.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row" id="menuMain">
                <div class="span12">
                    <div class="navbar navbar-static-top navbar-inverse">
                        <div class="navbar-inner">
                            <span class="brand">TELESAL</span>
                            <ul class="nav">
                                <li><a href="/participants">Lyttere nu</a></li>
                                <li><a href="/play">Musik</a></li>
                                <li class="active"><a href="/report">Lytterrapport</a></li>
                                <li><a href="/wiki">Hjælp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="ContentContainer">
                <div class="span10 offset1">
                    <h3>Lytterrapport</h3>
                    <table class="table">
                        <tr>
                            <td>Opkald påbegyndt</td>
                            <td>Efter kl.</td>
                            <td>Før kl.</td>
                            <td>Min. varighed</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>10-05-2013</b></td>
                            <td>
                                <select class="input-small">
                                    <option selected>00:00</option>
                                    <option>01:00</option>
                                    <option>02:00</option>
                                    <option>03:00</option>
                                    <option>04:00</option>
                                    <option>05:00</option>
                                    <option>06:00</option>
                                    <option>07:00</option>
                                    <option>08:00</option>
                                    <option>09:00</option>
                                    <option>10:00</option>
                                    <option>11:00</option>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                    <option>14:00</option>
                                    <option>15:00</option>
                                    <option>16:00</option>
                                    <option>17:00</option>
                                    <option>18:00</option>
                                    <option>19:00</option>
                                    <option>20:00</option>
                                    <option>21:00</option>
                                    <option>22:00</option>
                                    <option>23:00</option>
                                </select>
                            </td>
                            <td>
                                <select class="input-small">
                                    <option>00:59</option>
                                    <option>01:59</option>
                                    <option>02:59</option>
                                    <option>03:59</option>
                                    <option>04:59</option>
                                    <option>05:59</option>
                                    <option>06:59</option>
                                    <option>07:59</option>
                                    <option>08:59</option>
                                    <option>09:59</option>
                                    <option>10:59</option>
                                    <option>11:59</option>
                                    <option>12:59</option>
                                    <option>13:59</option>
                                    <option>14:59</option>
                                    <option>15:59</option>
                                    <option>16:59</option>
                                    <option>17:59</option>
                                    <option>18:59</option>
                                    <option>19:59</option>
                                    <option>20:59</option>
                                    <option>21:59</option>
                                    <option>22:59</option>
                                    <option selected>23:59</option>
                                </select>
                            </td>
                            <td><input type="number" class="input-small" value="0" /></td>
                            <td><button class="btn">OK</button></td>
                        </tr>
                    </table>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td class="span2">Nummer</td>
                            <td>Navn</td>
                            <td class="span2">Første opkald</td>
                            <td class="span2">Antal opkald</td>
                            <td class="span1">Minutter</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="participantNumber">22736623</td>
                            <td class="participantName">Kasper Dyrvig</td>
                            <td>10-05-2013 10:10</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td class="participantNumber">54567887</td>
                            <td class="participantName">Michael Krogh</td>
                            <td>10-05-2013 10:32</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr style="font-weight: bold;">
                            <td colspan="2">I alt: 2</td>
                            <td style="text-align: right;">I alt:</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span12" id="FooterContainer">&copy; DRB</div>
            </div>
        </div>
        <script src="../js/jquery-1.8.3.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
