.betabar{position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 15px; background-color: #000000; color: #fff; text-align: center;}
.betabar a{color: inherit;}
.betabar a.active{color: #d9534f;}

/*BASIC LAYOUT AND STYLE*/
body {background-color: #f3f3f3;}
.container-fluid-content {padding: 0 15px; background-color: #fff; clear: both; box-shadow: 0px 00px 30px 0px #333333;}
.container-fluid-header{background-color: #333333; height: 50px; clear: both;}
.intro{margin-top: 18%; font-family: sans-serif; color: #aaaaaa;}
.intro a{color: #f89406; font-weight: bold;}
.intro h1{text-transform: uppercase; margin: 0; padding: 0;}
.intro h2{margin: 0px; font-weight: bold;}
.intro table {margin: 0 auto;}
.intro table img{margin-right: 20px;}
.brand {color: #f0ad4e; text-transform: uppercase; font-size: 18px; float: left; margin-right: 15px;}
.brand span{margin-left: 10px;}
.menu-bar{list-style: none; margin: 0; padding: 0; float: left;}
.menu-bar li{float: left;}
.menu-bar a{color: #c2c2c2; line-height: 50px; padding: 0 15px; display: block; font-size: larger;}
.menu-bar li:hover a{color: #fff; background: none;}
.menu-bar li.active a{color: #fff; background-color: #191919;}
#ContentContainer { padding: 30px 0px; }
#FooterContainer { background-color: #eeeeee; padding-top: 5px; padding-bottom: 5px;}
.megaalert{position: fixed; top: 0px; left: 0px; background-color: #428bca; height: 50px; width: 100%; color: #ffffff; display: none; box-shadow: 0px 0px 10px 0px #333333;}
.megaalert-inner{padding: 12px 15px;}
.label{font-size: 90%;}

/*TABLES*/
.participantsTable{}
.participantNumber{width: 140px;}
.participantName { font-weight: bold; }
.participantHistory { width: 85px; }
.participantOptions { text-align: right; }
    .participantOptions button {background: none; border: 0; margin: 0 1px; padding: 0 3px; color: #4c4c4c;}
    .participantOptions button:hover{color: #333333;}
    .participantOptions button.active{color: #d9534f;}
.table td.info, .table tr.info > td {background-color: #d9edf7;}
.table-hover > tbody > tr > td.info:hover,.table-hover > tbody > tr > th.info:hover,.table-hover > tbody > tr.info:hover > td,.table-hover > tbody > tr.info:hover > th {background-color: #bce8f1;}

/*MUSIC PLAYER*/
#MusicContainer{background-color: #d0e2f2; height: 30px;}
#songplayer{ padding-top: 10px; }
#songplayer-name{ color: #333; margin-top: -5px; }
#songplayer-controls{margin: -5px 20px 0px 20px;}
#songplayer-number{ height: 22px; width: 60px; padding: 0 4px 0 0; direction: rtl; margin-right: 10px; }
#songplayer-progress{height: 10px;}
#songplayer-title{margin: -5px 0px 0px 20px;}

/*ANIMATION*/
@keyframes shake
{
    0% {margin-left: 0px;}
    50% {margin-left: 15px;}
    100% {margin-left: 0px;}
}

@-webkit-keyframes shake
{
    0% {margin-left: 0px;}
    50% {margin-left: 15px;}
    100% {margin-left: 0px;}
}
.shake {
    animation-name: shake;
    -webkit-animation-name: shake;
    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-iteration-count:7;
    -webkit-animation-iteration-count:7;
}