<!DOCTYPE html>
<html ng-app="blacktiger" lang="da" class=" js history websockets audio">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Telesal</title>
        <meta name="robots" content="none">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="assets/css/Basic.css" rel="stylesheet">
        <!--script async="" src="assets/js/analytics.js"></script-->
        <script type="text/javascript" src="assets/js/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/angular-translate.js"></script>
        <script type="text/javascript" src="assets/js/angular-resource.min.js"></script>
        <script type="text/javascript" src="assets/js/i18n/angular-locale_da-dk.js"></script>
        <script type="text/javascript" src="assets/js/i18n/angular-locale_da.js"></script>
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/blacktiger-1.0.js"></script>
        <script type="text/javascript" src="assets/js/songmanager-1.0.js"></script>
        <script type="text/javascript" src="assets/js/modernizr.custom.70166.js"></script>
    </head>
    <body>
        <div id="songplayer" class="navbar navbar-fixed-bottom">
            <div class="navbar-inner" style="padding-left:20px;vertical-align: middle" data-ng-controller="MusicCtrl">
                <a class="brand" href="http://telesal.dk/v2/rooms/90011#">Musik</a>
                <select ng-disabled="state=='playing'" class="pull-left input-mini" ng-model="currentSong" id="songplayer-number" style="direction: rtl; margin-right:5px;margin-top:5px"></select>
                <div class="pull-left btn-group" style="margin:0px;margin-top:5px">
                    <button ng-click="play()" class="btn" ng-disabled="state=='playing'"><i class="icon-play"></i></button>
                    <button ng-click="stop()" class="btn" ng-disabled="state!='playing'"><i class="icon-stop"></i></button>
                    <button ng-click="toggleRandom()" class="btn" ng-class="{disabled: isRandom()}"><i class="icon-random"></i></button>
                </div>
                <div id="songplayer-progress" class="pull-left progress progress-warning" style="margin:10px 20px;border:1px solid #bfbfbf;width:50px">
                    <div class="bar" style="width: {{progress}}%;"></div>
                </div>
                <div id="songplayer-title" class="lead muted pull-left" style="margin:0px;margin-top:5px"></div> 
            </div>
        </div>
        <div class="container">
            



            <div class="row" id="menuMain">
                <div class="span12">
                    <div class="navbar navbar-static-top navbar-inverse">
                        <div class="navbar-inner">
                            <span class="brand">{{'SYSTEM.NAME' | translate }}</span>
                            <ul class="nav" data-ng-controller="MenuCtrl">
                                <li data-ng-repeat="link in links" data-ng-class="(link.url.substring(1) == location.path() && 'active')">
                                    <a href="{{ link.url }}">{{ link.name }}</a>
                                </li>
                            </ul>
                            
                            <ul class="nav pull-right">
                                <li><a href="">Log ud</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row" id="ContentContainer" ng-view></div>
                
            <div class="row">
                <div class="span12" id="FooterContainer">&copy; {{ 'SYSTEM.COPYRIGHTHOLDER' | translate }}</div>
            </div>

        </div>
        


<!--script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41046406-1', 'telesal.dk');
  ga('send', 'pageview');

</script-->        

        <script>
            var roomid = "90011";
            var leavingPage = false;
            
            for(var i=1;i<=SongManager.getNoOfSongs();i++) {
                $('#songplayer-number').append( new Option(i,i) );
            }

            function handleChanges() {
                
            }

            function updateHud() {
                var number = SongManager.getCurrentSong();
                var state = SongManager.getState();
                var progress = SongManager.getProgressPercent();

                //$('#songplayer-title').text(SongManager.getTitle(number));
                $('#songplayer-number').val(number);
                $('#songplayer-play').prop('disabled', state == 'playing');
                $('#songplayer-stop').prop('disabled', state == 'stopped');
                $('#songplayer-progress .bar').css("width", progress + '%');

                if (SongManager.isRandom()) {
                    $('#songplayer-random').addClass('disabled');
                } else {
                    $('#songplayer-random').removeClass('disabled');
                }

                if (state == 'playing') {
                    setTimeout(updateHud, 200);
                }

            }


            function startPlayer() {
                var number = $('#songplayer-number').val();
                SongManager.setCurrentSong(number);
                SongManager.play();
            }
            
            function stopPlayer() {
                SongManager.setRandom(false);
                SongManager.stop();
            }

            function showError(message) {
                $('#error-dialog').text(message);
                $('#error-dialog').removeClass('hide');

            }

            function init() {
                //handleChanges();

                /** SONGMANAGER INIT **/
                if (SongManager.isSupported()) {
                    if (Modernizr.audio.mp3) {
                        SongManager.setFileFormat("mp3");
                    } else if (Modernizr.audio.ogg) {
                        SongManager.setFileFormat("ogg");
                    } else {
                        $("#songplayer").hide();
                    }

                    
                    //$('#songplayer-number').attr('max', SongManager.getNoOfSongs());
                    /*$('#songplayer-number').change(function() {
                        SongManager.setCurrentSong($(this).val());
                        SongManager.setRandom(false);
                    });*/
                    //$('#songplayer-play').click(startPlayer);
                    //$('#songplayer-stop').click(stopPlayer);
                    /*$('#songplayer-random').click(function() {
                        SongManager.setRandom(!SongManager.isRandom());
                    });*/

                    /*SongManager.setChangeHandler(function() {
                        log(SongManager.getState());
                        updateHud();
                    });*/
                    //SongManager.setCurrentSong(1);

                } else {
                    $("#songplayer").hide();
                }

                log("Initialized");

            }



            function log(message) {
                //console.log(message);
            }

            $(document).ajaxError(function(event, request, settings) {
                window.setTimeout(function() {
                    if(!leavingPage) {
                        showError("Error requesting page " + settings.url);
                    }
                }, 500);
                
            });

            $(window).on('beforeunload', function() {
                if(SongManager.getState() == 'playing') {
                    return 'Leaving the page will stop the music.';
                }
            });
            
            $(window).on('unload', function() {
                leavingPage = true;
            });
            
            $(document).ready(init);
        </script>
    


    </body>
</html>