<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

           <!-- Admin, PrivateApiAccessor, PublicApiAccessor, Merchant -->
    
    <http disable-url-rewriting="true">
        <intercept-url pattern="/data/**" access="ROLE_USER" />
        
        <form-login/>
        <http-basic/>
    </http>

    
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsManager" />
    </authentication-manager>

    <beans:bean id="userDetailsManager" class="dk.drb.blacktiger.security.SystemUserDetailsManager" />

</beans:beans>
