<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/lang"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.0.2.xsd
       http://www.springframework.org/schema/lang
       http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
        >

    <context:property-placeholder location="classpath*:blacktiger.properties,file:${user.home}/blacktiger.properties" ignore-resource-not-found="true"/>
    
       
    <bean id="callInfoDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${phoneinfojdbc.driverClassName}" />
        <property name="jdbcUrl" value="${phoneinfojdbc.url}" />
        <property name="username" value="${phoneinfojdbc.username}" />
        <property name="password" value="${phoneinfojdbc.password}" />
        <property name="idleConnectionTestPeriod" value="60"/>
        <property name="idleMaxAge" value="240"/>
        <property name="maxConnectionsPerPartition" value="30"/>
        <property name="minConnectionsPerPartition" value="5"/>
        <property name="partitionCount" value="2"/>
        <property name="acquireIncrement" value="5"/>
        <property name="statementsCacheSize" value="100"/>
        <property name="releaseHelperThreads" value="3"/>
    </bean>
    
    <bean id="asteriskDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${asteriskjdbc.driverClassName}" />
        <property name="jdbcUrl" value="${asteriskjdbc.url}" />
        <property name="username" value="${asteriskjdbc.username}" />
        <property name="password" value="${asteriskjdbc.password}" />
        <property name="idleConnectionTestPeriod" value="60"/>
        <property name="idleMaxAge" value="240"/>
        <property name="maxConnectionsPerPartition" value="30"/>
        <property name="minConnectionsPerPartition" value="5"/>
        <property name="partitionCount" value="2"/>
        <property name="acquireIncrement" value="5"/>
        <property name="statementsCacheSize" value="100"/>
        <property name="releaseHelperThreads" value="3"/>
    </bean>
    
    <bean id="asteriskServer" class="org.asteriskjava.live.DefaultAsteriskServer" destroy-method="shutdown">
        <constructor-arg value="${asterisk.host}"/>
        <constructor-arg value="${asterisk.username}"/>
        <constructor-arg value="${asterisk.password}"/>
    </bean>
    
    <bean id="service" class="dk.drb.blacktiger.service.BlackTigerService">
        <property name="asteriskServer" ref="asteriskServer"/>
        <property name="asteriskDataSource" ref="asteriskDataSource"/>
        <property name="callInfoDataSource" ref="callInfoDataSource"/>
    </bean>
    
    <!--bean id="service" class="dk.drb.blacktiger.service.InMemoryBlackTigerService"/-->
    
    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />
    
    <context:annotation-config />
    <task:annotation-driven/>
    
</beans>
